<div class="mybox">
    <h1>Todolist</h1>
    <input type="text" [(ngModel)]="newtask">
    <button (click)="addTask()">Add Task</button>
    <br>
    <input (change)="applyFilter()" type="radio" value="all" [(ngModel)]="selectedFilter">:All &nbsp;&nbsp;&nbsp;
    <input (change)="applyFilter()" type="radio" value="completed" [(ngModel)]="selectedFilter">:Completed &nbsp;&nbsp;&nbsp;
    <input (change)="applyFilter()" type="radio" value="pending" [(ngModel)]="selectedFilter">:Pending &nbsp;&nbsp;&nbsp;

    <ul>
        <li *ngFor="let task of filteredTasks;let i = index" [style.textDecoration]="task.status?'line-through':''">
            <app-todo [task]="task" [i]="i" 
            (delTask)="deleteTask($event)"
            (doneTask)="doneTask($event)"
            (undoTask)="undoTask($event)"
            ></app-todo>
        </li>
    </ul>
</div>