<div class="mybox">
    <a routerLink="countries" routerLinkActive="highlight">Countries</a> &nbsp;&nbsp;
    <a routerLink="posts" routerLinkActive="highlight">Posts</a> &nbsp;&nbsp;
    <a routerLink="addPost" routerLinkActive="highlight">Add Post</a> &nbsp;&nbsp;
    <a routerLink="login" routerLinkActive="highlight" *ngIf="!loginStatus">Login</a> &nbsp;&nbsp;
    <span (click)="logout()" *ngIf="loginStatus">Logout</span>
</div>
<div class="mybox" style="border:5px solid red">
    <router-outlet></router-outlet>
</div>