<div class="mybox">
    <input type="text" [(ngModel)]="firstname">
    <app-header></app-header>
    <app-mainarea></app-mainarea>
    <app-footer [x]="firstname"></app-footer>
</div>






<!-- 
    life cycle hooks
        1. mounting
            when the component load for the first time
        2. updation
            when the component data changes angular change detection mechanism re-renders the component
        3. unmounting
            when the component removes from the page(DOM)
 -->