<h1 appSpecial>Welcome to Custome Directive</h1>
<input type="text" appClearnumber>


























<!-- 
    <table border="2">
        <tr *ngFor="let student of students;trackBy:abc">
            <td>{{student.firstname}}</td>
            <td>{{student.lastname}}</td>
            <td>{{student.address.pincode}}</td>
        </tr>
    </table>
 -->

<!-- 
    <input type="text" [(ngModel)]="num">
    <button (click)="addValue()">Add Value</button>
    <ul>
        <li *ngFor="let a of ar;trackBy:abc">{{a}}</li>
    </ul>
 -->
<!-- <input type="text" [(ngModel)]="num">
<h1 *ngIf="num%2===0;else abc">Even</h1>
<ng-template #abc>
    <h1>Odd</h1>
</ng-template> -->

<!-- <h1 *ngIf="false">Example of *ngIf</h1>
<h1 [hidden]="true">Example of hidden property binding</h1>
<h1 style="visibility: hidden;">Welcome to</h1>
<h1 style="display: none;">Code your career</h1> 
<h1>Edupoly</h1> -->


<!-- <h1>Basic</h1>
<input type="text" [(ngModel)]="newvalue">
<button (click)="addValue()">add</button>
<ul>
    <li *ngFor="let v of x;trackBy:checkIt" >{{v}}</li>
</ul>

<h1>Welcome to Directives...</h1> -->

<!-- 
    component create custom element
    directives are custom attributes
        builtin directives
            attribute directives
                ngClass
                ngStyle
                ngModel
            structural directives
                *ngIf
                *ngFor
                *ngSwithCase
        cusomt directives
 -->